{% extends 'base/base.html' %}

{% block script %} 
<script defer src="{{ url_for('static',filename = 'js/current.js')}}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>




<script>

function animation()
{

  var textWrapper = document.querySelector('.ml2');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
  .add({
  targets: '.ml2 .letter',
  scale: [4,1],
  opacity: [0,1],
  translateZ: 0,
  easing: "easeOutExpo",
  duration: 950,
  delay: (el, i) => 70*i
  }).add({
  targets: '.ml2',
  opacity: 0,
  duration: 1000,
  easing: "easeOutExpo",
  delay: 1000
  });var textWrapper = document.querySelector('.ml2');    
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
  .add({
  targets: '.ml2 .letter',
  scale: [4,1],
  opacity: [0,1],
  translateZ: 0,
  easing: "easeOutExpo",
  duration: 950,
  delay: (el, i) => 70*i
  }).add({
  targets: '.ml2',
  opacity: 0,
  duration: 1000,
  easing: "easeOutExpo",
  delay: 1000
  });


}


function processing()
{
  if(document.getElementById("fileupload").checkValidity() && document.getElementById("videobutton").checkValidity())
  {
  document.getElementById("curent").style.display = 'none'
  document.getElementById("loading").style.display = 'block'
  animation()
  document.getElementById("videocheck").submit()
  }

}

function processingthird()
{
  if(document.getElementById("fileupload").checkValidity() && document.getElementById("secondList").checkValidity() 
  && document.getElementById("date").checkValidity() && document.getElementById("starttime").checkValidity()
  && document.getElementById("endtime").checkValidity())
  {
  document.getElementById("curent").style.display = 'none'
  document.getElementById("loading").style.display = 'block'
  animation()
  document.getElementById("videocheck").submit()
  }

}


function liveprocessing()
{
  if(document.getElementById("fileupload").checkValidity())
  {
  document.getElementById("curent").style.display = 'none'
  document.getElementById("loading").style.display = 'block'
  animation()
  document.getElementById("videocheck").submit()
  }

}





function hidepreview()
{

  $("#dvPreview").hide();
}

</script>

{% endblock %}

{% block style %} 
<link href="{{ url_for('static',filename = 'css/current.css')}}" rel="stylesheet">
<style>
  


</style>
{% endblock %}


{% block navbar %}
      <nav id="nav-menu-container">
        <ul class="nav-menu pull-right">
         <span style="color: white;">Username </span><li class="menu-active"></li><a href="#"><b>Logout</b></a></li>
        </ul>
      </nav>
{% endblock %}

      {% block body %} 

      <div class="container" id="curent" style="margin-top: 100px;border-color:#2dc997; border-radius: 10px; margin-bottom: 30px; border-style: solid; max-width: 90%; min-width: 300px;">
      <form action="/upload" method="POST" enctype="multipart/form-data" id="videocheck" >
        
          
            {% with messages = get_flashed_messages() %}
               {% if messages %}
               
                {% for message in messages %}
                
                <div class="alert alert-danger alert-dismissible fade show" style="max-width: 50%;">
                  <strong>Error!</strong> {{ message }}
              </div>
            
              {% endfor %}
            {% endif %}
          {% endwith %}
              <div class="row">
                <label class="control-label"></label>
                      <div style="margin: 20px;"><b>Upload File</b></div>
                    </div>
                    <div class="box-body" id = "review" style="margin: 30px;">
                
                    <i class="glyphicon glyphicon-download-alt"></i>
                    <p>Choose  Image files or drag it here(max Two Images).</p>
                  </div>
                  <div class="row">
                  <div style="margin: 30px;">
                    <label class="custom-file">
                      <input type="file" class="custom-file-input" id ="fileupload" name="file" accept=".jpg,.jpeg" multiple required>
                      <span class="custom-file-label" for="customFile">Choose file</span>
                    </label>
                  
                  </div>
              <div id="dvPreview"></div>
              <button type="reset" class="btn btn-danger pull-left" style="max-width: 200px;max-height: 40px; margin-left: 25px; margin-bottom: 10px;" onclick="hidepreview();"> Reset The Field
            </button></div>
          <div class="row col-md-4 col-xs-12 col-sm-6 col-md-9">
            
            <button type="button" id = "up1" class="btn btn-primary pull-left"style="max-width: 200px; margin: 10px;background-color:#2dc997;" onclick="video()"href="#video" >Upload Input Video</button>
            <button type="button" id = "up2"  class="btn btn-primary pull-left" style="max-width: 200px; margin: 10px;background-color:#2dc997;" onclick="third()" href="#third">Upload Info About Video</button>
            <button type="button" id = "up3"  class="btn btn-primary pull-left" style="max-width: 200px; margin: 10px;background-color:#2dc997;" onclick="live()" href="#live">Live Video</button>
            
          </div>
            <div id = "video">
            </div>
            <div id = "third" style="display: none;">

              <centre>
                <div class="col-md-4" id ="mass">
                <div style="margin: 20px;"><b>Department</b></div>
                <div class ="row col-md-4 col-xs-12 col-sm-6 col-md-9">
                <select class="custom-select"  id='firstList' name='firstList' onclick="getauth(this.value)" >
                <option class="dropdown-item" value="">--Select--</option>
                {% for al in all %}
                              <option class="dropdown-item" value="{{all.index(al)}}">{{al[0]}}</option>
                {% endfor %}
                              
                </select>
                
                <div  style="margin: 20px;"><b>Locate here</b></div>
                {% for am in a %} 
                
                <select class="custom-select" style="display: none;" id = "{{a.index(am)}}" name='secondList{{a.index(am)}}'>
                <option class="dropdown-item" value="">--Select--</option>
                {% for ah in am %}
                <option class="dropdown-item" value="{{ah.name}}">{{ah.name}}</option>
                {% endfor %}
                </select>
                
                {% endfor %}
                </div>
                
                <br>
                
                
                  
                <div style="margin: 20px;"><b>Date</b></div>
                    <div class="col-10"style="margin-bottom:10px;">
                      <input class="form-control" name="date" type="date" id="date">
                    </div>
                  <div class="row">
                  <div class="col-10" style="margin-bottom:10px;">
                  <div style="margin: 20px;"><b>Start Time</b></div>
                    <input class="form-control" name="starttime" type="time" value="" id="starttime">
                  </div> <br>
                  <div class="col-10">
                  <div style="margin: 20px;"><b>End Time</b></div>
                  <input class="form-control" name = "endtime" type="time" value="" id="endtime" >          
                </div>
                </div><br>
                
                
                
                <div class ="row col-md-4 col-xs-12 col-sm-6 col-md-9">
                <input type="submit" name="action" value = "Request_Video" class="btn btn-primary pull-left" style="min-width:200px;max-width: 300px;margin-left: 10px; background-color:#2dc997; margin-bottom: 10px;" onclick="processingthird();" />
                <button type="button" class="btn btn-danger pull-left" style="min-width:200px;max-width: 200px;margin-left: 10px; margin-bottom: 10px;" onclick="resetthird()"> Reset The Field
                          </button>
                        </div>
                 <br><br><br>
                </div>
                
                <br><br>
                </centre>
                


            </div>
            <div id = "live">
            </div>
      
      </form>
    </div>
    <div id = "loading" style="display:none;margin-top: 10%;margin-bottom:16%;">

    <h1 class="ml2"> <i> Processing...Please wait...</i></h1>

    <div class="loader">
      <div class="holder">
          <div class="box"></div>
      </div>
      <div class="holder">
          <div class="box"></div>
      </div>
      <div class="holder">
          <div class="box"></div>
      </div>
  </div>
  </div>
  


    
    <!---->
    
    {% endblock %}

